<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" thread-count="10">

    <parameter name="URL" value="https://rahulshettyacademy.com/"/>

    <listeners>
        <listener class-name="TestNgFramework.Listeners"/>
    </listeners>

    <test verbose="2" preserve-order="true" name="Personal Loan">
        <classes>
            <class name="TestNgFramework.Day1">
                <methods>
                    <include name="FirstTest"/>
                </methods>
            </class>

            <class name="TestNgFramework.Day2"/>
            <class name="TestNgFramework.Day4"/>
        </classes>
    </test>
    <test name="Home Loan">
        <classes>
            <class name="TestNgFramework.Day3">
                <methods>
                    <exclude name="Mobile4LoginHomeLoan"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>

